{% extends 'base.html' %}
{% block title %}
    Task Details
{% endblock %}
{% block content %}
    <div class="card" style="margin-top: 1rem">
        <div class="card-header">
            <p>Status: {{ task.status }} | Completion date: {{ task.completion_date }}</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ task.description }}</h5>
            <p class="card-text">{{ task.details }}</p>
            <a href="{% url 'index' %}" class="btn btn-light">Go back</a>
            <a href="{% url 'task_update' task.pk %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
{% endblock %}


